body{
    background-color: #7bd5a3;
}
#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  height: 480px;
  border: 4px solid #333;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: pointer;
}

.white { background-color: #eee; }
.black { background-color:black; color: #fff; }